.video-responsive3 {
	padding-top: 125px;
    display: flex;
    overflow:hidden;
    position:relative;
    justify-content: center;
}

.video-responsive3 iframe{
    left:0;
    top:0;
    height: 364px;
    width: 649px;
}

.imgTop{
    width: 100%;
    margin-bottom: -6px;
}
@media screen and (max-width: 1024px){
    .video-responsive2 {

        height:413px;

    }
}

@media screen and (max-width: 768px){ 
    .video-responsive2 {

        height:258px;

    }
}

@media screen and (max-width: 480px){

}